
<form action="" method='POST'>
    <label for="cliente">Ingresa el nombre del cliente que solicitó la cotizacion:</label>
    <input type="text" name="cliente"><br>
    <label for="Domicilio">Ingresa el domicilio del cliente donde se realiza la instalación:</label>
    <input type="text" name="domicilio"><br>
    <label for="descripcion">Ingresa la descripcion los servicios a registrar</label>
    <textarea type="text" name="descripcion" rows = 3 cols = 60 wrap = virtual></textarea><br>
    <label for="gasto">Ingresa el costo de los materiales (si no se lo sabe puede obtenerlo en /cotizar)</label>
    <input type="text" name="gasto"><br>
    <label for="precioCliente">Ingresa el precio al cliente de estos productos</label>
    <input type="text" name="gasto"><br>
    <label for="archivo">sube un archivo o fotos del trabajo que se requiere</label>
    <input type="file" name="archivo"><br>
    
    <button>Enviar datos para recibir cotizacion</button>

</form> 