<h1>Crea una cotizacion a partir de una descripcion de servicios</h1>
<br>
<h2>A continuacion se te precenta el espacio para ingresar la descripcion de un trabajo que desees cotizar el formato es el siguiente: ('cantidad/numero' 'servicio' 'coloraluminio' '3 o 2 pulgadas o proyeccion' 'tipo vidrio' 'grosor/mm' 'procesovidrio' 'alto x ancho' 'c/s mosquitero' 'instalado o sin instalacion'), 
    un ejemplo puede ser "Ventana Corrediza de 3 pulgadas en aluminio negro con vidrio tintex de 6mm de altura 200.5 x 150.5 ancho con mosquitero, 2 vidrio templado de 9mm en filtrasol instalado". 
    Nota que es importante que ingreses la medida en centimetros y uses separaciones como se muestra en el ejemplo de lo contrario no se podra generar una cotizacion.
     Te recomendamos ser lo mas claro y especifico posible que puedas, de no especificar alguna caracteristica se tomaran valores por defecto como son vidrio claro y crudo de 6mm con instalacion</h2>

<form action="" method='POST'>
    <label for="cliente">Ingresa el nombre del cliente que solicita la cotizacion:</label>
    <input type="text" name="cliente"><br>
    <label for="descripciones">Ingresa la descripcion los servicios a cotizar</label>
    <textarea type="text" name="descripciones" rows = 3 cols = 60 wrap = virtual></textarea><br>
    <label for="archivo">sube un archivo o fotos del trabajo que se requiere</label>
    <input type="file" name="archivo"><br>
    
    <button>Enviar datos para recibir cotizacion</button>

</form> 