.indicacion{
    max-width: 400px;
    background-color: rgb(52, 43, 226);
    color: white;
    font-family: Roboto, sans-serif;
    margin: 10px 5px 5px;
    padding: 1.5mm 2mm;
    border-radius: 10px;
    font-display: center;
    display: flex;
}